.container2{  
    text-align: center;  
    border: 7px solid rgb(7, 6, 6);  
    width: 250px;  
    height: 510px;  
    padding-top: 20px; 
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    background-color: rgba(48, 44, 44, 0.61);
    backdrop-filter: blur(5px);
}